
body {
  background: linear-gradient(0.25turn, #ffbd96, #e66465, #9198e5);
  text-transform: uppercase;
}

.jumbotron {
  background-color: #11435796;
   height: 92vh;
 }

.jumbotron.centered, .jumbotron.text-center {
  background-color: rgba(255, 255, 255, 0.493);
  margin-top: 2%;
  box-shadow: 4px 7px 4px rgba(65, 65, 65, 0.308);
  border: Solid 1px rgb(255, 255, 255);
}

.centered {
    padding-top: 200px;
    text-align: center;
}


/* TEXT PROPERTIES 
---------------------------------*/
.secret-text {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.658);
  background-color: rgba(255, 255, 255, 0.431);
}

h1 {
  background: -webkit-linear-gradient(#e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(75, 75, 75, 0.295);

  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.651); /* width and color */

  font-family: sans; color: yellow;
}

.fas.fa-key.fa-6x {
  background: -webkit-linear-gradient(#e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 5px rgba(75, 75, 75, 0.295);
}

.register-link, .login-link{
  color: white;
  font-weight: 400;
  font-size:0.8em;
  line-height: normal;
}

.register-link:hover, .login-link:hover{
  font-weight:bolder;
  color:#9198e5;
}

/* BUTTON PROPERTIES 
----------------------------------*/
.btn-dark, .btn-light {
 background-image: linear-gradient(to right, #9198e5 0%, #e66465  51%, #ffbd96  100%);
 margin: 10px 0;
 margin-right: 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.7s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  border-color: #fff;
  width: 20%;
}
.btn:hover  {
 background-position: right center; 
 color: #fff;
 background-color: #fff;
 border-color: #fff;
 text-decoration: none;
}

.card{
  border:none;
}
.btn-card {
  background-color: white;
  border: none;
}

.btn-grad {
  /*background-image: linear-gradient(to right, #114357 0%, rgba(255, 192, 203, 0.87)  51%, #114357  100%);*/
  background-image: linear-gradient(to right, #9198e5 0%, #e66465  51%, #ffbd96  100%);
  margin: 10px;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* COOKIE CONSENT PROPERTIES
---------------------------------- */
#accept-btn,
#cancel-btn {
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  margin: 0 5px;
}

#accept-btn:hover {
  cursor: pointer;
  background-color: #c5df95;
  font-weight: bolder;
}

#cancel-btn:hover {
  cursor: pointer;
  background-color: #e66465;
  font-weight: bolder;
}

.fa-cookie{
  margin-bottom: 3%;
  background: -webkit-linear-gradient(#e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  #cookie-consent{
    width: 100%;
    height: 40%;
    text-align:center;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    padding: 5%;
  background-color: rgb(255, 255, 255);

  opacity: 1;
  transition: opacity .5s ease;
}

#cookie-consent.active {
  bottom:0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #9198e5;
}

.terms{
  color: rgb(49, 49, 49);
  font-weight: bolder;
  font-style: italic;
}

.terms:hover {
  transition: 6ms;
}

.aLink{
  margin-bottom: 2em;
  color: black;
  font-style: italic;
}
